body{
    background-color: #f2f2f2;
    
}
#intro{
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}
img{
    width: 7vh;
}
.youtube{
  padding: 4px 0px;
}
checkbox{
    position: relative;
    display: none;
}
#youtubecheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.netflix{
  padding: 4px 0px;
}
#netflixcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.hbo-max{
    padding: 4px 0px;
}
#hbomaxcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.disney{
    pad: 4px 0px;
}
#disneycheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.hulu{
    padding: 4px 0px;
}
#hulucheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.sling{
    padding: 4px 0px;
}
#slingcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.peacock{
    padding: 4px 0px;
}
#peacockcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.fubotv{
    padding: 4px 0px;
}
#fubotvcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.crackle{
    padding: 4px 0px;
}
#cracklecheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.espn{
    padding: 4px 0px;
}
#espncheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.paramountplus{
    padding: 4px 0px;
}
#paramountpluscheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.appletvplus{
    padding: 4px 0px;
}
#appletvpluscheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}



.spotify{
  padding: 4px 0px;
}
#spotifycheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.prime{
    padding: 4px 0px;
}
#primecheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.micorsoft365{
    padding: 4px 0px;
}
#microsoft365check{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.github{
    padding: 4px 0px;
}
#githubcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.googlecloud{
    padding: 4px 0px;
}
#googlecloudcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.discord{
    padding: 4px 0px;
}
#discordcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.forbes{
    padding: 4px 0px;
}
#forbescheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.insider{
    padding: 4px 0px;
}
#insidercheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.expressvpn{
    padding: 4px 0px;
}
#expressvpncheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.xboxcloud{
    padding: 4px 0px;
}
#xboxcloudcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.geforce{
    padding: 4px 0px;
}
#geforcecheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.shadow{
    padding: 4px 0px;
}
#shadowcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.vortex{
    padding: 4px 0px;
}
#vortexcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;

}
.psnow{
    padding: 4px 0px;
}
#psnowcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.boosteroid{
    padding: 4px 0px;
}
#boosteroidcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dropbox{
    padding: 4px 0px;
}
#dropboxcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.nordvpn{
    padding: 4px 0px;
}
#nordvpncheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.surfshark{
    padding: 4px 0px;
}
#surfsharkcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.protonvpn{
    padding: 4px 0px;
}
#protonvpncheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.cyberghost{
    padding: 4px 0px;
}
#cyberghostcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.ipvanish{
    padding: 4px 0px;
}
#ipvanishcheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#finalprice{
    border-radius: 5px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.canva{
    padding: 4px 0px;
}
#canvacheck{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#finalprice:hover {
    background-color: #ffffff;
    color: #f4511e;
}
#finalprice:active {
    background-color: #f4511e;
    color: #FFFFFF;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#finalprice:focus {
    outline: none;
}
#result{
    font-size: 20px;
    padding: 10px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;

}